.left-container {
  width: 50%;
  display: flex;
  flex-flow: flex-start;
}

.right-container {
  width: 50%;
  display: flex;
  flex-flow: flex-end;
}

.inner-button-container-7 > a {
  margin-left: 5%;
}

#allBeer,
#allWine,
#allBevs {
  text-decoration: none;
  font-size: 2em;
  color: #f0ebd8;
}
nav {
  margin-bottom: 4%;
}
