.bevContainer {
  display: flex;
  background-color: transparent;
  width: 80vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .bevContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
  }
}
