@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&display=swap");

footer {
  background-image: url("https://blessedbythelord.org/wp-content/uploads/2021/07/0e3863867_1416877594_wooden-header.jpg");
  height: 24vh;
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: "Fredericka the Great";
  bottom: 0;
  padding: 10%;
}

#left-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5vw;
}

.left-container-links {
  margin-top: 2%;
  text-decoration: none;
  color: white;
}

.right-container-links {
  text-decoration: none;
  color: white;
  margin-top: 30%;
  margin-bottom: 10%;
}
.footer-left-right,
.footer-right-right {
  display: flex;
  flex-direction: column;
}
.footer-right {
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 5vw;
}
.footer-right > img {
  width: 3vw;
}
.us {
  font-size: 1.5em;
}
#left-container > img {
  width: 3vw;
}
.footer-right-left {
  text-align: center;
}
.footer-right-right {
  width: 15vw;
  font-size: 28px;
}
.sign-out:hover {
  color: #7db6e9;
  cursor: pointer;
}
#footer-vl {
  height: 6em;
}
#sign-up-link {
  margin-bottom: -10px;
}
@media (max-width: 500px) {
  footer {
    position: static;
    bottom: 0;
  }
  .us {
    display: none;
  }
  .footer-right-right,
  .footer-right-left,
  #footer-vl {
    position: relative;
    right: 20vw;
  }
}
