.carousel-img {
  height: 40vh;
  width: 15vw;
  margin-left: 41%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.latest {
  text-align: center;
  margin-top: 10%;
}
.carousel-control-prev {
  margin-left: 30%;
}
.carousel-control-next {
  margin-right: 30%;
}
