@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap");

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-children {
  flex: 2;
  padding: 100px;
  padding-top: 30px;
  background-color: #1d2d44;
}
h1,
h2,
h3,
a {
  font-family: "Fredericka the Great";
  color: #f0ebd8;
  font-weight: 200;
}
* {
  font-family: "El Messiri", sans-serif;
}
img {
  width: 10vw;
}
button {
  background: none;
  border: none;
  font-family: "Fredericka the Great";
  color: #f0ebd8;
  font-size: 2em;
}

@media (max-width: 500px) {
  .layout {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .layout-children {
    width: 80vw;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
