img {
  /* max-width: 100%;
  max-height: 100%; */
  width: 10vw;
  height: 16vw;
}
.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  margin: 4vw;
  width: 15vh;
  height: 30vw;
}
#img-link2 {
  margin-bottom: 2vw;
}
.bottom-card {
  position: relative;
  top: 20px;
}
.card-title,
.card-abv {
  text-decoration: underline #1d2d44;
}

#img-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  /* border: 5px solid red; */
}
@media only screen and (max-width: 375px) {
  img {
    width: 40vw;
    height: 64vw;
  }
  .card-1 {
    margin: 10vw;
  }
}
