h1,
h2 {
  text-align: center;
}

.intro-home-7 {
  color: #f0ebd8;
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.right-side-container {
  display: flex;
  justify-content: space-between;
}

#home-page-image-7 {
  width: 60vw;
  align-items: center;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
